@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-white: #ffffff;
  --color-red: #db0000;
  --color-black: #141414;
  --color-grey: #564d4d;
  --color-light-red: #831010;

  --font-family: "Montserrat", sans-serif;
}
